.nav-link{
    font-size:7px;
    text-align: center;
}
.workouts-card_image{
    background-size: cover;
    background-position: center;
}
.sticky-bottom {
    position: absolute;
    bottom: 0;
    z-index: 1020;
    width: 100%;
}