<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/base.html :: common_header"></head>
<body>

<h1>Add Workout</h1>
<script th:inline="javascript">
    var jsondata = [[${exercises}]];
    console.log(jsondata);
</script>

<div id="add-workout-react-container"></div>

<div th:replace="fragments/base.html :: common_footer"></div>
<div th:replace="fragments/base.html :: common_scripts"></div>
<div th:replace="fragments/base.html :: react_scripts"></div>

<script src="react_add_workout.js" type="text/babel"></script>

</body>
</html>
