<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/base.html :: common_header"></head>
<body>
<div th:replace="fragments/base.html :: hero">
</div>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<div class="p-5">
    <form th:action="@{/login}" method="post">
        <div class="form-group"><label> User Name : </label><input
                class="form-control" type="text" name="username"/></div>
        <div class="form-group"><label> Password: </label><input
                class="form-control" type="password" name="password"/></div>
        <div class="form-group text-center">
            <input class="btn-primary btn-lg mr-2"
                   type="submit" value="Sign In"/>
            <button class="btn-secondary btn-lg">Sign Up</button>
        </div>
    </form>
</div>
<div th:replace="fragments/base.html :: common_footer"></div>
<div th:replace="fragments/base.html :: common_scripts"></div>
</div>
</body>
</html>
