<!DOCTYPE html>
<html>
<head th:replace="fragments/base.html :: common_header"></head>

<body>
<div id="root"></div>

<script th:inline="javascript">
    var jsondata = [[${workout}]];
    jsondata.workoutExercises.sort((ex1, ex2) => (ex1.orderId - ex2.orderId))
    console.log(jsondata);
</script>


<script type="text/babel">
    // React code will go here
</script>
<h1>Start Workout</h1>

<div id="workout-react-container"></div>


<div th:replace="fragments/base.html :: common_footer"></div>
<div th:replace="fragments/base.html :: common_scripts"></div>
<div th:replace="fragments/base.html :: react_scripts"></div>
<script src="react_start_workout.js" type="text/babel"></script>
</body>
</html>